# General
.DS_Store
.env
.env.*
.venv/
node_modules/

# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage/
dist/
build/

# Next.js (frontend)
frontend/.next/
frontend/node_modules/
frontend/.vercel/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# AWS CLI
awscliv2.zip
aws/dist/

# Binaries
bin/yq
*.exe
*.dll
*.so
*.dylib
